<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
<link href="https://obsproject.com/assets/css/blurple.min.css?20200317-1" rel="stylesheet">
	<title>Download </title>
</head>
<body>
<div class="bodor">
<div class="container-name">  
<a  href="/download?n={{nc}}" class="example_e" >download words</a>

</div>
</div>
<div>
<footer id="footer" class="footer cf">
    <div class="footer_extra">
      <div class="footer_left">
        <div class="footer_row">
          <!--<div class="logo"><img src="/assets/images/new_icon_small-r.png"></div>-->
          <div class="footer_title">Upload Project</div>
        </div>
        <div class="footer_row footer_social">
    
          <a href="https://github.com/kira-xc" target="_blank" aria-label="GitHub">
            <i class="icon-github"></i>
          </a>
        </div>
      </div>
      <div class="footer_right">

        <!-- App -->
        <div class="footer_items"><div class="footer_category">Upload Project</div>
          <a href="#" aria-label="Download">Download</a>
          <a href="#" target="_blank" aria-label="Feature suggestions">Ideas</a>
          <a href="#" aria-label="Privacy Policy">Privacy Policy</a>
        </div>

        <!-- Contribute -->
        <div class="footer_items"><div class="footer_category">Groups</div>
          <a href="https://github.com/kira-xc" target="_blank" aria-label="OBS GitHub">GitHub</a>
          <a href="#" aria-label="Discord">Discord</a>
         <!-- <a href="#" aria-label="OBS on Patreon">Patreon</a>-->
        </div>

        <!-- Help -->
        <div class="footer_items"><div class="footer_category">Support</div>
          <a href="#" aria-label="Help Portal">Help Portal</a>
          <a href="#" aria-label="Forums">Forums</a>
          <a href="#" aria-label="Official Discord">Discord</a>
          <a href="#" aria-label="Support Wiki">Wiki</a>
        </div>

      </div>
    </div>

    <div class="copyright">
      <p>© 2022. Upload Project are created and Development by <a href="https://github.com/kira-xc">kira-xc</a>.<br>
Website designed and created by <a href="https://github.com/kira-xc">kira-xc</a>.</p>    </div>
    <br>
</div>
</body>
</html>